body {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar {
  /* Transição suave do scroll */
    transition: top 0.3s;
}

header{
  background-color: beige;
}
footer{
  background-color: red;
}