body {
  box-sizing: border-box;

}

.navbar {
  transition: top 0.3s;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-brand:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}


.bluehover:hover{
  color: rgb(5, 107, 167);
  transition: color 0.4s ease;
}

h3 a {
  text-decoration: none;
  color: black;
}

.bluehover2:hover{
  color: rgb(29, 148, 218);
  transition: color 0.4s ease;
}

.textojustificado {
  text-align: justify;
}

.card a {
  color: #000;            /* deixa preto (ou outra cor) */
  text-decoration: none;  /* remove o sublinhado */
}

.card a:hover {
  color: #0d6efd;         /* cor no hover (azul Bootstrap, por exemplo) */
  text-decoration: underline; /* opcional */
}

.noticias {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1%;
  margin-top: 3%;
  margin-bottom: 1%;
}

section{
  background-color: rgba(114, 56, 56, 0.8);
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  text-wrap: wrap;
  padding: 14%;
  gap: 5px;
}

figure {
  text-align: center; /* centraliza a imagem e legenda */
}

figcaption {
  font-size: 14px;
  margin-top: 5px;
}

.abcd{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.escola-aviso {
  margin-top: 4%;
  display: flex;
  padding: 3%;
  justify-content: center;
  width: 50%;
  color: white;
  flex-direction: column;
}

.noticias .card {
  position: relative;
  max-width: 30%;
  border: none;
}

.footer-couple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  color: white;
}

@media only screen and (max-width: 900px) {
  header {
    flex-direction: column;
  }

  .noticias {
    flex-direction: column;
    height: auto;
    background-color: rgba(240, 240, 240, 0.8);
    gap: 20px;

  }

  .noticias .card {
    max-width: 87%;
  }
}